<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <ul>
          <li><a href="{{ site.baseurl }}/"><h2 class="nav-title">{{ site.title }}</h2></a></li>
          <li><a href="{{ '/readfirst' | prepend: site.baseurl }}">read first.</a></li>
          <!--<li><a href="{{ '/pick' | prepend: site.baseurl }}">Pick the best</a></li>-->
          <li><a href="{{ site.baseurl }}/">thought.</a></li>
          <li><a href="{{ site.baseurl }}/">curation.</a></li>
          <li><a href="{{ site.baseurl }}/">critic.</a></li>
          <li><a href="{{ site.baseurl }}/">.all</a></li>
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>

    </footer>
  </body>
</html>
